
.spanBlock {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.span {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;
}

.pen {
    margin-left: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;

    background-size: cover;
}
